{% import "bootstrap/wtf.html" as wtf %}

{% extends "headers.html" %}

{% block content %}
    <div class="container">
    <img src="./../static/img/glitter_rose.gif">
    <img src="./../static/img/stars.gif">


        <div class="page-header">
            <img src="./../static/img/rosegif.gif">

            <h1>OTA sNAPsi Sweet Sixteen-vuosijuhlat!!!!11</h1>
            <img src="./../static/img/rosegif.gif">

        </div>
        <p>
            OTA SNAPSI vujute jeee
        </p>
        <p>
        ilmoittautuminen auki {{ form.starttime }}
        </p>
        <img src="./../static/img/glitter_stars.gif">
        {% if starttime < nowtime < endtime %}
            <div class="formstyles">
            <h2>Ilmoittautuminen</h2>
            <form class="form form-horizontal" method="post" role="form">

                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.mail) }}

                <label>Ruokajuoma</label>
                {{ wtf.form_field(form.wine) }}

                {{ wtf.form_field(form.specialneeds) }}

                {{ wtf.form_field(form.cocktail_who) }}

                {{ wtf.form_field(form.place_wish) }}

                {{ wtf.form_field(form.show_name) }}

                {{ wtf.form_field(form.consent) }}

                {{ wtf.form_field(form.avec) }}

                <div id="avec-info" class="inset hide_">
                    {{ wtf.form_field(form.avec_name) }}
                    <label class="extra-label">Avecin ruokajuoma</label>
                    {{ wtf.form_field(form.avec_wine) }}

                    {{ wtf.form_field(form.avec_specialneeds) }}
                    {{ wtf.form_field(form.avec_consent) }}
                </div>

                {% for e in form.errors.items() %}
                    <p class="text-danger">{{ e }}</p>
                {% endfor %}

                {{ wtf.form_field(form.submit) }}
            </form>
            </div>
        {% elif nowtime < starttime %}
            <p>Ilmoittautuminen alkaa seuraavana ajankohtana {{ starttime }}</p>
        {% else %}
            <p>Ilmoittautuminen on päättynyt</p>
        {% endif %}
        <h2>Osallistujat</h2>
        <div class="row">
            <img src="./../static/img/glitter_stars.gif">
            <div class="col-sm-6">
                <h3>Ilmoittautuneet: {{ counter }}/{{ snapsilimit }}</h3>
                {% for entry in entries %}
                    <p>{{ loop.index }}. {{ entry["name"][:30] }}
                        {% if entry["avec"] %}
                            <span class="avecheart">❤️</span>
                        {% endif %}
                        {% if loop.index > snapsilimit %}
                            (Varasijalla)
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
        </div>


    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
            ❤️
        </div>
        <div class="snowflake">
            ❤️
        </div>
        <div class="snowflake heart">

        </div>
        <div class="snowflake">
            ❤️
        </div>
        <div class="snowflake heart">

        </div>
        <div class="snowflake">
            ❤️
        </div>
        <div class="snowflake heart">

        </div>
        <div class="snowflake">
            ❤️
        </div>
        <div class="snowflake heart">

        </div>
        <div class="snowflake">
            ❤️
        </div>
        <div class="snowflake" id="pacman">

        </div>
        <div class="snowflake">
            ❤️
        </div>
    </div>
    <div id="heart1" class="heart">
    </div>
    <div id="heart2" class="heart">
    </div>
    <div id="heart3" class="heart">
    </div>
    <div id="heart4" class="heart">
    </div>
    <div id="heart5" class="heart">
    </div>
{% endblock %}
