{% import 'macros.html' as macros %}
{% macro render_form(form, avec=None) %}
{% set alcohol_options = form._prefix + "alcohol_options" %}
  {{ form.hidden_tag() }}
  {{ macros.render_field(form.name) }}
  {{ macros.render_field(form.email) }}
  {{ wtf.form_field(form.representative) }}
  {{ wtf.form_field(form.discussion) }}
  
  {{ macros.render_checkbox_field(form.table, onclick="showMe('" + table_options + "', this, true)") }}
  
  {{ macros.render_checkbox_field(form.alcohol, onclick="showMe('" + alcohol_options + "', this, true)") }}
  
  <div id="{{ table_options}}">
    {{ macros.render_radio_field(form.alcohol) }}
    </div>
    
  <div id="{{ alcohol_options}}">
    {{ macros.render_radio_field(form.wine) }}
    {{ macros.render_radio_field(form.drink) }}
  </div>
  {{ macros.render_field(form.food) }}
  
  
  
  <script>showMe("{{ alcohol_options}}", document.getElementById("{{ form.alcohol_free.id }}"), true);</script>
{% endmacro %}